<nav>
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>
            <a href="archiv.html">Archiv</a>
            <ul>
                <li><a href="archiv.html#WANTED">2022 – WANTED</a></li>
                <li><a href="archiv.html#Eidgenossen">2021 – Eidgenossen</a></li>
                <li><a href="archiv.html#Indianer">2019 – Indianer</a></li>
                <li><a href="archiv.html#Ritter">2018 – Ritter</a></li>
            </ul>
        </li>
        <li>
            <a id="instagram" href="https://www.instagram.com/junge.kirche.klettgau/">
                Instagram
            </a>
        </li>
    </ul>
</nav>